---
import TestimonialCarousel from '../components/Testimonials/TestimonialCarousel'
import type { Testimonial } from '../model/testimonial'

const testimonials: Testimonial[] = [
  {
    id: 1,
    profileImg: 'https://randomuser.me/api/portraits/men/1.jpg',
    fullName: 'Alex Johnson',
    comment:
      'Brightmind has revolutionized the way I study. The AI-driven tools are incredibly helpful and have made learning so much easier.',
  },
  {
    id: 2,
    profileImg: 'https://randomuser.me/api/portraits/women/2.jpg',
    fullName: 'Emily Davis',
    comment:
      'I love using Brightmind! The platform is user-friendly and the AI tools have significantly improved my understanding of complex subjects.',
  },
  {
    id: 3,
    profileImg: 'https://randomuser.me/api/portraits/men/3.jpg',
    fullName: 'Michael Brown',
    comment:
      'Thanks to Brightmind, I have been able to achieve my academic goals. The personalized learning experience is unmatched.',
  },
  {
    id: 4,
    profileImg: 'https://randomuser.me/api/portraits/women/4.jpg',
    fullName: 'Sophia Wilson',
    comment:
      'Brightmind is a game-changer! The AI-driven platform has helped me master difficult topics with ease.',
  },
  {
    id: 5,
    profileImg: 'https://randomuser.me/api/portraits/men/5.jpg',
    fullName: 'James Smith',
    comment:
      'The impact Brightmind has had on my education is incredible. The AI tools are intuitive and have made learning enjoyable.',
  },
  {
    id: 6,
    profileImg: 'https://randomuser.me/api/portraits/women/6.jpg',
    fullName: 'Olivia Martinez',
    comment:
      'Brightmind has been a fantastic resource for my studies. The AI-driven insights have helped me excel in my courses.',
  },
]
---

<section class="py-16 mt-8">
  <div class="container max-w-7xl mx-auto">
    <h3 class="text-3xl text-primary font-bold">Testimonials</h3>
    <p class="text-lg mt-2">
      Our users love the impact Brightmind has had on their educational journey.
      Hear from students who have mastered the sciences with the help of our
      AI-driven platform. Discover how Brightmind can help you achieve your
      academic goals.
    </p>

    <div class="mx-auto mt-12">
      <TestimonialCarousel client:idle testimonials={testimonials} />
    </div>
  </div>
</section>

<style is:global>
  .swiper-pagination-bullet-active {
    @apply bg-tertiary;
  }
  .swiper-button-disabled {
    @apply text-accent;
  }
  .swiper-button-next:not(.swiper-button-disabled),
  .swiper-button-prev:not(.swiper-button-disabled) {
    @apply text-tertiary;
  }
</style>
