---
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
import AboutSection from '../modules/AboutSection.astro'
import HeroSection from '../modules/HeroSection.astro'
---

<Layout title="Welcome to Astro.">
  <Header />
  <main class="pt-16">
    <HeroSection />
    <AboutSection />
    <section class="py-16">
      <div class="container max-w-7xl mx-auto">
        <h1>Next section</h1>
      </div>
    </section>
  </main>
</Layout>
